body {
    background-color: #fefefe;
}
.container {
    padding: 2em;
    margin-top: 2em;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color:#fff;
}

.product-image {
    margin-right: 3em;
    width: 82px;
    height: 82px;
    border: 1px solid #999;
    border-radius: 6.18%;
    background-color: sandybrown;
}

.checkout-button-container {
    margin-bottom: 2em;
}

.item-quantity {
    margin-right: 1em;
}

.total-tr {
    font-size: 120%;
}

td {
    text-align: right;
    margin-right: 2em;
}

.table th {
    padding-left: 0px;
}

.loader {
    border: 0.3em solid #025aa5;
    border-top: 0.3em solid #fff;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loader.xl {
    width: 4em;
    height: 4em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.customer-service-message {
    font-size: 0.68em;
    padding-top: 1em;
}